


@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div> download please click</div>
@Html.ActionLink("please click to download","search",new
{
    name="file"
})



@if (IsPost)
{

}

@section scripts{

<script type="text/javascript">

    $(document).ready(function () {
        console.log(111111111111111);

    });


   
</script>
}