


@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div> download please click</div>
@Html.ActionLink("please click to download","search",new
{
    name="file"
})



@if (IsPost)
{

}

@section scripts{

<script type="text/javascript">

    $(document).ready(function () {
      
        var myDate = new Date(2015, 1, 1);
        var dt = myDate.getUTCDate();
        
        console.log(dt);
        
       
        
    });


   
</script>
}