


@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div> download please click</div>
@Html.ActionLink("please click to download","search",new
{
    name="file"
})



@if (IsPost)
{

}

@section scripts{

<script type="text/javascript">

    $(document).ready(function () {

        function add(number,num2,num3) {
            for (var p in arguments) {
                console.log(arguments[p]);
            }
            
            a = a + number;
        }

        var a = 10;
        add(10,22,55,33); 


   
      //  console.log(a);
       

    });


   
</script>
}