


@{
    ViewBag.Title = "Search";
}
<form method="post" enctype="multipart/form-data">
    <h2>Search</h2>
    <div>
        <div class="blue" leo-with="100">this is the div1</div>
        <div id="div2" title="div2" class="red">this is the div2</div>
        <div id="div3" title="div">
            this is the div3
            <div id="div31" title="tdiv3">
                inner div
            </div>
        </div>
        <div id="div4" leo-with>this is the div4</div>
        <div id="div5">this is the div4</div>
    </div>
    <input type="text" id="input1" />
    <input type="text" id="input2" />
    <input type="submit" value="act" id="btnAct" style="height:20px;" />
    <div class="classX">please mouse over me</div>

    <div> download please click</div>
    @Html.ActionLink("please click to download", "search", new
{
    name = "file"
})

</form>

@if (IsPost)
{

}

@section scripts{

    <style type="text/css">
        .blue {
            background-color:blue;
        }

         .red {
            background-color:red;
        }
    </style>

<script type="text/javascript">
    //javascript practise
    
    $(document).ready(function () {
        $(".classX").on("dblclick mouseenter mouseleave mouseup", function (e) {
          
            if (e.type == "mouseup") {

                $(this).text("x:" + e.pageX + "   y:" + e.pageY);
            }
            else {
                $(this).toggleClass("blue");
            }

        });



    });

   
</script>
}