@model IEnumerable<Models.ReaderModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get" action="@(Url.Action("Index"))" data-leo-ajax="true" data-leo-target="#updatedDiv">
    <input type="text" name="searchTerm" style="height:32px;" />
    <input type="submit" value="search" style="height:32px;" />
</form>


@*@using (Ajax.BeginForm(new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "updatedDiv", HttpMethod = "get" }))
{  
    <input type="text" name="searchTerm" style="height:32px;" />
    <input type="submit" value="search" style="height:32px;" />
}*@


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="updatedDiv">
 @Html.Partial("_ReadersView", Model)
</div>

