
@{
    ViewData["Title"] = "Grid";
}

<style>
   
</style>
<h2>Grid</h2>


<div class="container bg-warning " style="margin-top:30px">
    <section class="row bg-warning"   style="height:200px;">
        <div class="col-4 bg-secondary ">col 1</div>
        <div class="col-4 bg-info offset-2">col 2</div>
    </section>

</div>

