@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="display-4"> List</h1>

    <ul class="list-group">
        <li class="list-group-item list-group-item-action">Alic</li>
        <li class="list-group-item list-group-item-action">Quee of Hearts</li>
    </ul>

    <ul class="list-group mt-4">
        <li class="list-group-item list-group-item-action">Alic</li>
        <li class="list-group-item list-group-item-primary">Quee of Hearts</li>
        <li class="list-group-item list-group-item-secondary">Alic</li>
        <li class="list-group-item list-group-item-success">Quee of Hearts</li>
    </ul>


</div>