@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="display-4"> List</h1>

    <ul class="list-group">
        <li class="list-group-item list-group-item-action">Alic</li>
        <li class="list-group-item list-group-item-action">Quee of Hearts</li>
    </ul>

    <ul class="list-group mt-4">
        <li class="list-group-item list-group-item-action">Alic</li>
        <li class="list-group-item list-group-item-primary">Quee of Hearts</li>
        <li class="list-group-item list-group-item-secondary">Alic</li>
        <li class="list-group-item list-group-item-success">Quee of Hearts</li>
    </ul>

    <ul class="list-group mt-4">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Alic <span class="badge badge-primary">40</span></li>
        <li class="list-group-item list-group-item-primary">Quee of Hearts</li>
        <li class="list-group-item list-group-item-secondary">Alic</li>
        <li class="list-group-item list-group-item-success">Quee of Hearts</li>
    </ul>

    <hr class="mt-5" />
    <ul class="list-group mt-4 list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Alic <span class="badge badge-primary">40</span></li>
        <li class="list-group-item ">Quee of Hearts</li>
        <li class="list-group-item ">Alic</li>
        <li class="list-group-item ">Quee of Hearts</li>
    </ul>


    <hr class="mt-5" />
    <ul class="list-unstyled">
        <li>Alic</li>
        <li>Quee of Hearts</li>
        <li>Alic</li>
        <li>Quee of Hearts</li>
    </ul>


    <hr class="mt-5" />
    <ul class="list-inline">
        <li class="list-inline-item">Alic</li>
        <li class="list-inline-item">Quee of Hearts</li>
        <li class="list-inline-item">Alic</li>
        <li class="list-inline-item">Quee of Hearts</li>
    </ul>

</div>