@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

    <div>
        this is my content
    </div>
<div>
       Model.Count()  @Model.Count()
</div>
<div>
    Model.Count()  @Model.Count()
</div>
<div>
    Model.Count()  @Model.Count()
</div>